  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/sleeper.css">
  </head>



  <div class='page'>
    <div class='flex-column'>
      <div class = 'button_container'>
      <div class ="my_bookings_status">
        <form method="get" action="/requested_bookings">
          <input type="submit" class='btn btn-info ' value="My bookings" />
        </form>
      </div>
      <form action='/space/creation' method='get'>
        <input type='submit' class='btn btn-info  ' value='Create space'>
      </form>
      <form action='/bookings' method='get'>
        <input type='submit' class='btn btn-info ' value='Bookings for my spaces'>
      </form>
      <form action='/log-out' method='get'>
        <input type='submit' class='btn btn-info ' value='Logout'>
      </form>
      </div>
      <div class='gallery'>
        <% @spaces.each do |space| %>
          <div class='listing'>
            <div class='thumbnail space' id='<%= space.id %>'>
              <div class='space-name'><%= space.name %></div>
              <div class='tag space-price' name='price'>£<%= space.price.round %> per night</div>
              <div class='text_column space-desc' name='description'><%= space.description %></div>
            </div>

            <form action='/space/<%= space.id %>/booking' method='post'>
                <textarea class="form-control form-item" type="textarea" rows="2" name='request_description'></textarea>
                <input type='submit' class='btn btn-info booking-submit' value='Send'>
            </form>
          </div>
        <% end %>
      </div>
    </div>
  </div>
